page-call-roll-history-record {
    .callroll-table-div{
    }
    .callroll-table-div table {
        font-family: verdana, arial, sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
        width: 100%;
        
    }
    .callroll-table-div table th {
        border-width: 1px;
        padding: 6px;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
        text-align: center;
        
    }
    .callroll-table-div table td {
        border-width: 1px;
        padding: 6px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
        text-align: center;
    }
    .option-button div{
        float: left;
        width: 45%;
        margin: 6px;
    }
}
