page-options {
    .content-body{
        background-color: #DCDCDC;
    }
    .content-body > div{
        margin: 10px;
    }
    .content-button-head img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .content-button-head div{
        float: left;
    }
    .content-button-head{
        margin-top: 5px;
        height: 80px;
        font-size: 15px;
        background-color: #F5F5F5;
        border-radius: 2%;
    }
    .content-button-head-label{
        width: 100px;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
    }
}
