page-show-member-detail {
    img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        vertical-align: center;
        position: relative;
        left: 85px;
    }
    table td{
        width: 100px;

    }
    .detail-item{
        padding-bottom: 2px;
        padding-top: 2px;
        font-size: 12px;
        height: 50%;
        margin: 0;
    }


}
