page-choose-spare-time {
    .table-top {
        font-size:20px;
        text-align: center; 
    }
    .table-div table {
        font-family: verdana, arial, sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
        width: 100%;
    }
    .table-div thead th {
        border-width: 1px;
        padding: 0;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
        text-align: center;
    }
    .table-div tbody th {
        border-width: 1px;
        padding: 0;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
        text-align: center;
        height: 80px;
    }
    .table-div tbody td {
        border-width: 1px;
        padding: 6px;
        border-style: solid;
        border-color: #666666;
        text-align: center;
        background-color: #fffff8;
    }
}
