page-course {
    .content-body{
        background-color: #DCDCDC;
    }
    .course-head{
        float: right;
    }
    .float-item-div{
      margin: 10px;
      position: fixed;
      z-index: 999;
      width: 95%;
      height: auto;
      box-shadow: 10px 10px 5px #888888;
      vertical-align: center;
   }

   .float-item{
        border-radius: 2%;
        background-color: #F5FFFA;
        height: 100%;
   }
   .choose-answer li{
    list-style-type: none;
   }
   .option-button{
    width: 45px;
   }
}
